#section4 {
    text-align: center;
    padding: 5rem;
}

#section4 h1 {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

#section4 b {
    font-weight: 600;
    color: #53A7EB;
}

.modules{
    margin: 1rem;
}
.module {
    max-width: 300px;
    height: 80px;
    background-color: #252525;
    border: 1px solid #33A8DB;
    border-radius: 100px;
    margin: auto;
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    box-shadow: inset -2px 6px 5px 0px rgba(0, 0, 0, 0.5);
}